{% extends 'base.html' %}

{% block content %}
  <script type="text/javascript" >
    var nick = '{{nick}}';
    var room = '{{room}}';
    var game;
    socket.emit('join_game_room', '{{room}}', function(data) {
      console.log('joined room:');
      console.log(data);
    });
    socket.emit('get_game', '{{room}}', function(data) { 
        game = JSON.parse(data);
        console.log(game);
    });
    var url_games_list = '{{ url_for("games_list") }}';

  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/arrangement_ships.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/game.js') }}"></script>
{% endblock %}